/* --- General --- */

body {
  color: #121212;
}


a:hover,
a:focus {
  color: #5D3FD3;
  text-decoration: none;
}

.remove-borders {
  table tr td {
    border-bottom: none;
  }
}

.custom-table-a {

    a {
        color: #008AFF;
        font-style: italic;
    }       

    a:hover,
    a:focus {
      color: #5D3FD3;
      text-decoration: none;
    }

    table tr td {
      border-bottom: 1px solid #ccc; // Only horizontal borders
      border: none;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }
    
    table th, td {
      border-bottom: 1px solid #ccc; // Only horizontal borders
      border: none;
    }

    th {
      background-color: #0F52BA; // A pleasant blue background for the header cobalt: 0047AB
      color: #fff; // White text color for contrast
    }

}

/*CAPTION STYLE*/

.blog-front-image {
  // Specific styles for img inside .blog-front-image, if needed
  // img {
  //   // Add styles for the img element if needed, e.g., border, shadow
  // }

  figcaption {
    // SCSS nested style for figcaption inside .blog-front-image
    font-size: smaller;
    font-style: italic;
    text-indent: 0;
    color: rgba(150, 150, 150, 1); // Corrected opacity value from 100 to 1
  }
}

.img-border {
  border-radius: 0.15rem;
  // max-width: 85%;
  // margin-top: 0.8em;
  margin-bottom: 0.2em;
  border: 1px solid rgb(202, 202, 202);
  padding: 3px;
}

/*FOOTER STYLE*/

footer {
  padding: 30px 0;
}